<p>THIS IS A TEST OF THE MARKDOWN CAPABILITY IN STATA</p>
<p>In the BPPS activity, we have two outcomes measured on an ordinal scale. We could collapse the ordinal to binary in order to simplify the communication, but this throws away information. We could also run an ordered logit or probit linear model, which would estimate an average effect across all response categories. Finally, we could run an ordered logit or probit generalized linear model, which would estimate an effect at each of the response categories.</p>
<p>Within a complex survey design, R supports ordered logit or probit models but does not currently support an ordered logit or probit generalized linear model. Thankfully, Stata does provide support for ordered logit or probit generalized linear models within a complex survey design.</p>
<p>We will run an ordered logit generalized linear model to see if it provides additional learning beyond the ordered logit linear model.</p>
<p>[Note that an ordered generalized linear model requires a user-created command. Type &lsquo;ssc install gologit2&rsquo;]</p>
<p>First set the weights</p>
<pre><code>. svyset PSU [pweight=Wgt1] || A9, strata(strata)
Note: Stage 1 is sampled with replacement; further stages will be ignored for variance estimation.

      pweight: Wgt1
          VCE: linearized
  Single unit: missing
     Strata 1: &lt;one&gt;
         SU 1: PSU
        FPC 1: &lt;zero&gt;

</code></pre>
<p>Now run an ordered logit, which we could also have done in R</p>
<pre><code>. svy: ologit B4_mv aware
(running ologit on estimation sample)

Survey: Ordered logistic regression

Number of strata   =         1                  Number of obs     =      6,719
Number of PSUs     =       497                  Population size   = 6,704.8272
                                                Design df         =        496
                                                F(   1,    496)   =      49.02
                                                Prob &gt; F          =     0.0000

------------------------------------------------------------------------------
             |             Linearized
       B4_mv |      Coef.   Std. Err.      t    P&gt;|t|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
       aware |   .7112793   .1015858     7.00   0.000     .5116877    .9108709
-------------+----------------------------------------------------------------
       /cut1 |  -2.356553   .1214826                     -2.595237   -2.117869
       /cut2 |  -1.185776   .0977742                     -1.377879   -.9936738
       /cut3 |   .3858846   .1033082                       .182909    .5888603
       /cut4 |   1.713808   .1174725                      1.483003    1.944613
------------------------------------------------------------------------------

</code></pre>
<p>This assumes an average effect across all response categories. Let&rsquo;s run a more flexible model that estimates an effect at each response category of the ordinal outcome</p>
<pre><code>. gsvy: gologit2 B4_mv aware, link(logit)

Survey: Generalized Ordered Logit Estimates

Number of strata   =         1                  Number of obs     =      6,719
Number of PSUs     =       497                  Population size   = 6,704.8272
                                                Design df         =        496
                                                F(   4,    493)   =      17.17
                                                Prob &gt; F          =     0.0000

------------------------------------------------------------------------------
             |             Linearized
       B4_mv |      Coef.   Std. Err.      t    P&gt;|t|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
Very_negat~e |
       aware |   .8364468    .192125     4.35   0.000     .4589676    1.213926
       _cons |   2.268733   .1709443    13.27   0.000     1.932869    2.604597
-------------+----------------------------------------------------------------
Somewhat_n~e |
       aware |   .3365093   .1353935     2.49   0.013     .0704937    .6025248
       _cons |    1.47155   .1354847    10.86   0.000     1.205356    1.737745
-------------+----------------------------------------------------------------
Neither_ne~e |
       aware |   .8815947   .1215541     7.25   0.000     .6427702    1.120419
       _cons |  -.5326414   .1229261    -4.33   0.000    -.7741614   -.2911213
-------------+----------------------------------------------------------------
Somewhat_p~e |
       aware |   .7335157   .1887017     3.89   0.000     .3627625    1.104269
       _cons |  -1.733717   .1832155    -9.46   0.000    -2.093691   -1.373742
------------------------------------------------------------------------------

</code></pre>
<p>This gives us additional information about how the effect is stronger going from very negative to somewhat negative, and from neutral to somewhat positive</p>
<p>Now let&rsquo;s look at the predicted probabilities from this model</p>
<pre><code>. margins, at(aware=(0/1)) atmeans

Adjusted predictions                            Number of obs     =      6,719
Model VCE    : Linearized

1._predict   : Pr(B4_mv==1), predict(pr outcome(1))
2._predict   : Pr(B4_mv==2), predict(pr outcome(2))
3._predict   : Pr(B4_mv==3), predict(pr outcome(3))
4._predict   : Pr(B4_mv==4), predict(pr outcome(4))
5._predict   : Pr(B4_mv==5), predict(pr outcome(5))

1._at        : aware           =           0

2._at        : aware           =           1

------------------------------------------------------------------------------
             |            Delta-method
             |     Margin   Std. Err.      t    P&gt;|t|     [95% Conf. Interval]
-------------+----------------------------------------------------------------
_predict#_at |
        1 1  |   .0937458    .014523     6.45   0.000     .0652116      .12228
        1 2  |   .0428941   .0046778     9.17   0.000     .0337035    .0520847
        2 1  |   .0929613   .0136014     6.83   0.000     .0662379    .1196846
        2 2  |   .0979787   .0062067    15.79   0.000     .0857841    .1101733
        3 1  |   .4433919   .0293204    15.12   0.000     .3857844    .5009994
        3 2  |   .2727635   .0114486    23.83   0.000     .2502697    .2952572
        4 1  |   .2197882   .0226817     9.69   0.000     .1752241    .2643524
        4 2  |   .3174618   .0103572    30.65   0.000     .2971125    .3378112
        5 1  |   .1501128   .0233744     6.42   0.000     .1041877    .1960379
        5 2  |   .2689019   .0147285    18.26   0.000     .2399639    .2978399
------------------------------------------------------------------------------

</code></pre>
<p>This reports the effect on the actual response scale, which is easier to communicate</p>
<p>For example, among those who were not aware of USAID, 9.4 percent of respondents report a very negative perception of USAID. Among those who report being aware, 4.3 percent of respondents report a very negative perception of USAID.</p>
<p>In a linear probability model, this would be reported as a five percentage point reduction in the likelihood of reporting a very negative perception of USAID. In relative terms, it&rsquo;s a reduction of approximately 54 percent in the likelihood of reporting a very negative perception of USAID.</p>
<p>Let&rsquo;s plot these probabilities</p>
<pre><code>. marginsplot

  Variables that uniquely identify margins: aware

</code></pre>
<p><img src="gologit2%20margins%20plot.png" width="500" ></p>
<p>This is a functionality for reporting effects at each response category of an ordinal outcome within a context of a complex survey design. R currently doesn&rsquo;t support this functionality. We should run these models for primary outcome models to assess whether it would be worthwhile to report effects for each response category, or stick to an average effect across all response categories.</p>
<p>That&rsquo;s all for now!</p>
